[submodule "Backend"]
	path = Backend
	url = git@github.com:KOSTA-Travelog/Backend.git
	branch = dev
[submodule "Frontend"]
	path = Frontend
	url = git@github.com:KOSTA-Travelog/Frontend.git
	branch = dev
